<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> PokeExplorer </ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/favorites">
        <ion-icon name="heart"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Pokémons</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="pokemon-list">
    <ion-card
      *ngFor="let pokemon of pokemons"
      [routerLink]="['/details', pokemon.id]"
    >
      <ion-img
        [src]="pokemon.image"
        [alt]="pokemon.name"
        class="pokemon-image"
        (ionError)="pokemon.image = 'assets/placeholder.png'"
      ></ion-img>
      <ion-card-header>
        <ion-card-title>{{ pokemon.name | titlecase }}</ion-card-title>
      </ion-card-header>
    </ion-card>
  </div>

  <ion-infinite-scroll
    (ionInfinite)="loadPokemons($event)"
    [disabled]="!canLoadMore"
  >
    <ion-infinite-scroll-content
      loadingSpinner="circles"
      loadingText="Loading more Pokémons..."
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
