<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> PokeExplorer </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Pokémons</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="pokemon-list">
    <ion-card
      *ngFor="let pokemon of pokemons"
      [routerLink]="['/details', pokemon.id]"
    >
      <ion-img
        [src]="pokemon.image"
        [alt]="pokemon.name"
        class="pokemon-image"
      ></ion-img>
      <ion-card-header>
        <ion-card-title>{{ pokemon.name | titlecase }}</ion-card-title>
      </ion-card-header>
    </ion-card>
  </div>
</ion-content>
